.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.login-form h4 {
    text-transform: uppercase;
}

.error {
    display: none;
    width: 350px;
    position: fixed;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    background: #ffccd0;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    color: #731922;
}